## Exploratory Data Analysis (EDA)

#### Data Overview

This project uses the Brazilian E-Commerce Public Dataset by Olist, which contains real-world transactional data on orders, payments, deliveries, and customer reviews from 2017â€“2018. The data was inspected through basic exploratory analysis to validate structure, completeness, and key relationships prior to SQL-based aggregation and KPI analysis.

#### Load data

In [1]:
import pandas as pd

orders =pd.read_csv("olist_orders_dataset.csv")
items = pd.read_csv("olist_order_items_dataset.csv")
payments =pd.read_csv("olist_order_payments_dataset.csv")
reviews =pd.read_csv("olist_order_reviews_min.csv")
customers= pd.read_csv("olist_customers_dataset.csv")

In [27]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

#### Shape & columns

In [19]:
def check_shape_columns(df, name):
    print(f"\n{name}")
    print("Shape:", df.shape)
    print("Columns:", list(df.columns))

In [20]:
check_shape_columns(orders, "Orders")
check_shape_columns(items, "Items")
check_shape_columns(payments, "Payments")
check_shape_columns(reviews, "Reviews")
check_shape_columns(customers, "Customers")

Orders
Shape: (99441, 8)
Columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

Items
Shape: (112650, 7)
Columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

Payments
Shape: (103886, 5)
Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

Reviews
Shape: (99224, 5)
Columns: ['review_id', 'order_id', 'review_score', 'review_creation_date', 'review_answer_timestamp']

Customers
Shape: (99441, 5)
Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

#### Cheking Null Values

In [21]:
def check_nulls(df, name):
    print(f"\nNull values in {name}:")
    print(df.isna().sum())

In [22]:
check_nulls(orders, "Orders")
check_nulls(reviews, "Reviews")
check_nulls(payments, "Payments")
check_nulls(items, "Items")

Null values in Orders:
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Null values in Reviews:
review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

Null values in Payments:
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Null values in Items:
order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

#### Duplicate Check

In [23]:
def check_duplicates(df, key, name):
    total = df.shape[0]
    unique = df[key].nunique()
    print(f"\n{name}")
    print("Total rows:", total)
    print(f"Unique {key}:", unique)
    print("Duplicates:", total - unique)

In [26]:
check_duplicates(orders, "order_id", "Orders")
check_duplicates(reviews, "order_id", "Reviews")
check_duplicates(payments, "order_id", "Payments")
check_duplicates(items, "order_id", "Items")

Orders
Total rows: 99441
Unique order_id: 99441
Duplicates: 0

Reviews
Total rows: 99224
Unique order_id: 98673
Duplicates: 551

Payments
Total rows: 103886
Unique order_id: 99440
Duplicates: 4446

Items
Total rows: 112650
Unique order_id: 98666
Duplicates: 13984